<h1>Profiles</h1>

<% @profiles.each do |profile| %>
  <% if current_user.id == profile.id %>
    <p>
      <strong>First Name:</strong>
      <%= profile.first_name %>
    </p>

    <p>
      <strong>Last Name:</strong>
      <%= profile.last_name %>
    </p>

    <p>
      <strong>Telephone Number:</strong>
      <%= profile.telephone_number %>
    </p>

    <p>
      <strong>Status:</strong>
      <%= profile.status %>
    </p>

    <p>
      <strong>User ID:</strong>
      <%= profile.user_id %>
    </p>

    <%= link_to 'Edit', edit_profile_path(profile) %>
  <% end %>
<% end %>


